.trainer-container {
  display: flex;
  padding: 20px;
  height: 400px;
  flex-direction: row;
  align-items: center;
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Start slightly down for animation */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.trainer-container.slide-in {
  opacity: 1;
  transform: translateY(0); /* Slide into view */
}

.trainer-image {
  width: 40%;
  padding: 20px;
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.trainer-image.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

.trainer-image img {
  width: 100%;
  border-radius: 8px;
}

.carousel-container {
  width: 60%;
  overflow: hidden; /* Hide overflow to show only one subject at a time */
  position: relative;
}

.carousel-slider {
  display: flex;
  transition: transform 0.8s ease; /* Smooth transition */
}

.carousel-slide {
  min-width: 100%; /* Each slide takes full width */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  color: rgb(237, 235, 243);
  opacity: 0;
  transform: translateY(50px); /* Start slightly below for animation */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.carousel-slide.slide-in-right {
  opacity: 1;
  transform: translateY(0); /* Slide up into view */
}

.carousel-slide h2 {
  margin-bottom: 10px;
}

.carousel-slide ul {
  list-style-type: none;
  padding: 0;
}

.carousel-slide li {
  padding: 4px 0;
}

/* Navigation Buttons */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
